
<div class="field">
  <%= df.label :route_name %><br>
  <%= df.text_field :route_name %><br><br>
  <%= df.label :station_name %><br>
  <%= df.text_field :station_name %><br><br>
  <%= df.label :walking_minutes %><br>
  <%= df.number_field :walking_minutes %><br><br>
  <%#= df.hidden_field :id %>
</div>