<h1>閲覧</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>物件名 :</strong>
  <%= @rent_property.property_name %>
</p>

<p>
  <strong>賃料 :</strong>
  <%= @rent_property.rent %>
</p>

<p>
  <strong>住所 :</strong>
  <%= @rent_property.address %>
</p>

<p>
  <strong>築年数 :</strong>
  <%= @rent_property.age %>
</p>

<p>
  <strong>備考 :</strong>
  <%= @rent_property.note %>
</p>

<br>



<p>
  <strong>路線名 :</strong>
  <%= @rent_property.stations.first.route_name %>
</p>

<p>
  <strong>駅名 :</strong>
  <%= @rent_property.stations.first.station_name %>
</p>

<p>
  <strong>徒歩分数 :</strong>
  <%= "#{@rent_property.stations.first.walking_minutes}分" %>
</p>

<br>

<p>
  <strong>路線名 :</strong>
  <%= @rent_property.stations.second.route_name %>
</p>

<p>
  <strong>駅名 :</strong>
  <%= @rent_property.stations.second.station_name %>
</p>

<p>
  <strong>徒歩分数 :</strong>
  <%= "#{@rent_property.stations.second.walking_minutes}分" %>
</p>



<%= link_to '編集', edit_rent_property_path(@rent_property) %> |
<%= link_to '戻る', rent_properties_path %>
